body {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5db1+46,c99a02+100 */
background: #ff5db1; /* Old browsers */
background: -moz-linear-gradient(45deg,  #ff5db1 46%, #c99a02 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #ff5db1 46%,#c99a02 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #ff5db1 46%,#c99a02 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#c99a02',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.signUpBackground {
    margin-top: 100px;
    width: 40%;
    height: 550px;
    margin-left: 30%;
    padding-top: 100px;
}
.signUpCard {
    
    background-color:whitesmoke;
    width: 300px;
    height: 320px;
    padding: 50px;
    border: 0px solid rgb(250, 245, 245);
    margin-left: 160px; 
    border-radius: 25px;
}
.signUpHeader h1 {
    margin-top: 5px;
    text-align: center;
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.signUpHeader p {
    margin-top: -15px;
    text-align: center;  
}
.signUpHeader p span a {
    color: rgb(90, 146, 252) ;
    margin-top: -15px;
    text-align: center;
}
.inputBoxes {
    margin-top: 30px;
    margin-left: -40px;
}
.fullName {
    display: flex;
    margin: 10px;
    margin-top: -1px;
    border-radius: 10px;
}

.userName input{
    padding-left: 15px;
    font-style: italic;
    font-size: 15px;
    border: 0px rgb(250, 245, 245);
    border-radius: 10px;
    width : 340px;
    height : 40px;
    margin: 10px;
    margin-top: -1px;
}
.email {
    /* margin-top: -40px; */
    margin: 10px;
    margin-top: -10px;
}
.email input {
    padding-left: 15px;
    font-style: italic;
    border: 0px  rgb(250, 245, 245);
    font-size: 15px;
    border-radius: 10px;
    width : 340px;
    height : 40px;
}
.footer button{
    border: 0px  rgb(250, 245, 245);
    background-color: rgb(90, 146, 252);
    border-radius: 10px;
    margin: -1px;
    margin-left : 13px;
    width : 355px;
    height : 50px;
    color: rgb(250, 245, 245);
    font-size: 15px;
    font-style: italic;
}
.footer input {
    margin-top : 30px;
    margin-left : 20px;
}
.footer input span {
    margin-left : 20px;

}
.termsAndServices {
    text-decoration:none ;
    color:rgb(90, 146, 252) ;
}
.fullName input {
    margin-left: -10px;
    padding-left: 15px;
    font-style: italic;
    font-family: sans-serif;
    border: 0px rgb(250, 245, 245);
    font-size: 15px;
    width:160px;
    height:40px;
    border-radius: 10px;

}
.lastName input {
    margin-left: -5px;
    padding-left: 15px;
    font-style: italic;
    border: 0px  rgb(250, 245, 245);
    font-size: 15px;
    width:160px;
    height:40px;
    border-radius: 10px;
}







